<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/v.sultanov/0_D_Disk/Projects/Appium/FirstJavaProject">
        <classes>
            <class name="org.example.AppiumBasics">
                <methods>
                    <include name="appiumTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>


